
.search-results {
    display: block;
    margin: 4px; 
    align-items: center;
    top: 25%;
    width: 100%;
    height: min-content; 
    border: 6px solid rgb(238, 137, 13);
    border-radius: 30px;
    background-color: rgb(25, 201, 169);
}

#search-input {
    margin: 6px;
    font-size: 16px;
    margin-left: 20px;
    border: 2px solid black;
}
.search-title {
    font-size: 24px;
    margin-left: 50px;
}

.country {
    margin:12px;
    font-size: 24px;
}

.cap {
    margin:12px;
    font-size: 24px;
    color:aliceblue;
}

p {
    font-size: 20px;
    margin-top: 2px;
    margin-left: 4px;
}

@media (max-width: 800px) {
    #search-input {
        margin-left: 40px;
    }
    .search-title {
        margin-left: 60px;
    }
}

@media (min-width: 900px) {
   
    #search-input {
        margin-left: 25px;
    }
    .search-title {
        margin-left: 40px;
    }
}