<mat-card class="country-details-card">
    <mat-card-header>
            <div class="map-title">Map Results</div>
        <mat-card-title>Country: {{country.name}}</mat-card-title>
        <mat-card-subtitle>Capital: {{country.capitalCity}}</mat-card-subtitle>
    </mat-card-header>
        <mat-card-content>
        <p>Region: {{country.region.value}}</p>
    </mat-card-content>
        <mat-card-content>
            <p>Income Level: {{country.incomeLevel.value}}</p>
        </mat-card-content>
        <mat-card-content>
            <p>Population: {{country.totalPop}}</p>
        </mat-card-content>
        <mat-card-content>
            <p>GDP: {{country.gdp}}</p>
        </mat-card-content>
</mat-card>
