/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: linear-gradient(#4e4d4d, #3ac2c2, #4e4d4d);
    height: 100%; 
}

a {
    text-decoration: none;
}