
<div class="container">
    <div class="map">
        <div class="map-header">
            <p class="click-globe">Scroll the globe and click a country or search by name.</p>
        </div>
        <div class="world-map-container">
            <app-world-map (grabCountryID)="getID($event)" class="SVG_import"></app-world-map>
        </div>
    </div>

    <div class="data">
        <div class="data-header">
            <p class="search">Search by Country Name</p>
                <app-search-details (searchText)="getSearch($event)" [country]="country"></app-search-details>
        </div>
        
        <div class="country-data">
            <app-country-details [id]="id" class="DATA_import"></app-country-details>
        </div>
    </div>
</div>