<!-- Notes for below similarities to my Vanilla blueprint: 
    world-map-container = svg_content   Will apply those setting here. the difference being an extra div inside to bring in country id. 
    potential issue if doesn't work, the former mat-grid-list..See if the SVG components really on that, change to what's needed to work here.
    We'll have to change some stuff in input form to bring in info from API. Likely do this in the country-details component.
-->
<div class="container">
    <div class="map">
        <div class="map-header">
            <p class="click-globe">Scroll the globe and click a country to display it's information</p>
        </div>
        <div class="world-map-container">
            <app-world-map (grabCountryID)="getID($event)" class="SVG_import"></app-world-map>
        </div>
    </div>

    <div class="data">
        <ng-container></ng-container>
        <div class="data-header">
            <p class="search">Search by Country Name</p>
                <app-search-details (searchText)="getSearch($event)" [country]="country"></app-search-details>
        </div>
        
        <div class="country-data">
            <app-country-details [id]="id" class="DATA_import"></app-country-details>
        </div>
    </div>
</div>